
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');



body {
  margin: 0;
  padding: 0;
  height:100vh;
  box-sizing: border-box;
  background-color: #131314;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

img{
  filter: invert(1);
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
